@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.socialmedia {
  width: 100%;
  height: 8%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.icons {
  width: 85%;
  height: 100%;
  /* background-color: rgb(221, 139, 139); */
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.first {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 15px;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px;
  color: white;
}
.second {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px;
  color: white;
}
/* section i
{
    display:flex;
    justify-content: end;
} */
.navbar {
  width: 100%;
  height: 10%;
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
.subnavbar {
  width: 85%;
  height: 100%;
  /* background-color: rgb(195, 139, 221); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}
.img {
  /* width: 25%;
    height: 100%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* gap: 15px; */
  font-family: "Roboto", sans-serif;
  /* padding: 20px; */
}
.list {
  /* width: 25%;
    height: 100%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  font-family: "Roboto", sans-serif;

  font-size: 17px;
}
.list-icon {
  display: none;
}
.list a {
  text-decoration: none;
  color: black;
}
.navicons {
  /* float: left; */
  /* width: 35%;
    height: 100%; */
  display: flex;
  align-items: flex-end;
  /* justify-content: space-between; */
  gap: 15px;
}
.backgroundimg {
  background-image: url("./slider_banner_2_c429b1bd-e433-4f70-b793-7b47d6117759_1512x\ \(1\).png");
  width: 100%;
  height: 80%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.text {
  width: 85%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  /* background-color: aqua; */
  align-items: center;
  display: flex;
  line-height: 20px;
}
.lines {
  width: 50%;
  height: 50%;
  /* background-color: rgb(206, 133, 45); */
}
.lines h4 {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  /* line-height: 100px; */
  margin-bottom: 50px;
  font-weight: 400;
  color: #000000;
}
.lines h1 {
  font-family: "Dancing Script";
  font-size: 80px;
  line-height: 50px;
  font-weight: 400;
  color: #000000;
}
.lines h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 100px;
  font-weight: 400;
  font-style: italic;
  color: #646464;
}
.lines button {
  background-color: #ffb12b;
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  /* margin: 10px; */
  padding: 20px;
  border-style: none;
  color: #ffffff;
  width: 20%;
}
.lines button:hover {
  background-color: #000000;
}

.grid {
  /* background-color: aquamarine; */
  width: 100%;
  height: 40%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}
.subgrid {
  /* background-color: rgb(202, 100, 17);  */
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid1 {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.grid1img img
{
  width: 100%;
  height: 100%;
}
.grid1img {
  width: 100%;
  height: 100%;
  position: relative;
}
.grid1img:hover .text1 {
  border: 1px solid white;
  transition: 0.4s linear;
}
.grid1img:hover img {
  transform: scale(1.1, 1.1);
  transition: 0.4s linear;
}
/* .grid1:hover img {
  border: 1px solid lightgray;
  transform: scale(1, 1);
  padding: 10px;
} */
.text1 {
  width: 93%;
  height: 90%;
  position: absolute;
  top: 11px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.subContent {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.text1 h4 {
  color: #f7910a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.text1 h2 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 80px;
  text-align: center;
  font-family: "Dancing Script";
}
.text1 button {
  background-color: #ffb12b;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 25%;
  height: 40px;
  border-style: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.subContent1 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subContent1h2 {
  line-height: normal !important;
}
.text2 button:hover {
  background-color: #000000;
}
.text3 button:hover {
  background-color: #000000;
}
.text1 button:hover {
  background-color: #000000;
}
.content {
  width: 100%;
  height: 12%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.subcontent {
  width: 85%;
  height: 30%;
  /* background-color: #646464; */
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.subtext h4 {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}
.subtext h2 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5;
  /* margin-bottom: 20px; */
}
.imgbanner {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.imgbanner1 {
  color: #333333;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.backgroundproduct {
  width: 100%;
  height: auto;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.productimg {
  width: 85%;
  height: 100%;
  /* background-color: #646464; */
  display: grid;
  grid-template-columns: 255px 255px 255px 255px 255px;
  grid-template-rows: 400px 400px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.productimg1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #e5e5e5;
  position: relative;
}
.productimg-icon {
  width: 95%;
  height: 13%;
  font-size: 22px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: absolute;
  top: 90px;
  left: 5px;
  background-color: white;
  /* display: none; */
  opacity: 0;
}
.productimg1:hover .productimg-icon {
  /* display: block; */
  opacity: 1;
  transition: 0.6s;
}
.productimg-icon i:hover {
  color: #ffb12b;
}
.productimg-icon-sale {
  width: 95%;
  height: 20%;
  display: flex;
  /* flex-direction: column; */
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  align-items: center;
  font-size: 22px;
  justify-content: center;
  gap: 25px;
  position: absolute;
  top: 90px;
  left: 5px;
  background-color: white;
  opacity: 0;
}
.productimg1:hover .productimg-icon-sale {
  /* display: block; */
  opacity: 1;
  transition: 0.6s;
}
/* .productimg-icon i {
  font-weight: 300;
} */
.image1 {
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
.image2 {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.productimg1:hover .image2 {
  opacity: 1 !important;
}
.productimg1:hover .image1 {
  opacity: 0;
}
.image-and-icons {
  width: 100%;
  height: 63%;
  position: relative;
}
.image-and-icons img {
  width: 100%;
}
.sale {
  background-color: #ff4545;
  color: #ffffff;
  width: 20%;
  padding: 3px;
  border-radius: 6px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 15px;
  right: 10px;
}
.producttext1 {
  width: 100%;
  /* height: 100%; */
  /* background-color: yellow; */
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 15px;
  align-items: center;
}
.selecttag {
  width: 90%;
  height: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #222222;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  /* padding: 4px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.selecttag select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.producttext1 h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}
.producttext1 h4 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffb12b;
  text-align: center;
  /* text-decoration: line-through; */
}
.productprice span {
  text-decoration: line-through;
  color: #999999;
  gap: 20px;
}
.labeldiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 20px; */
}
.labeldiv input {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #232323;
  /* padding: 10px; */
  width: 50px;
  height: 35px;
}
.labeldiv button {
  padding: 10px;
  background-color: #f7910a;
  border: none;
  width: 85px;
  outline: none;
  color: white;
}
.labeldiv button:hover {
  background-color: #000000;
}
.bentobackground {
  width: 100%;
  height: auto;
  /* background-color: #ff4545; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.subbento {
  width: 85%;
  height: 100%;
  /* background-color: #999999; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 100px 400px;
  gap: 30px;
}
.bentoimg1 {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  grid-row: span 2;
}
.subbentoimg {
  width: 100%;
  height: 100%;
  position: relative;
}
.bentoimg1 img {
  width: 100%;
  height: 100%;
}
.bentoimg2 {
  width: 100%;
  height: 100%;
  /* background-color: palevioletred; */
}
.bentoimg2 img {
  width: 100%;
  height: 100%;
}
.bentoimg3 {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  grid-row: span 2;
}
.bentoimg3 img {
  width: 100%;
  height: 100%;
}
.bentoimg4 {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}
.bentoimg4 img {
  width: 100%;
  height: 100%;
}
.words {
  width: 93%;
  height: 90%;
  position: absolute;
  top: 20px;
  right: 20px;
  /* bottom: 5px;
  left: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.subwords {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.subwords h4 {
  color: #f7910a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.words h2 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 80px;
  text-align: center;
  font-family: "Dancing Script";
}
.words button {
  background-color: #ffb12b;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 19%;
  height: 44px;
  border-style: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.words button:hover {
  background-color: #000000;
}
.words .color1 {
  color: #ff4c3b;
}
.words .color {
  color: #50cb19;
}
.subbentoimg {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.bentoimg img {
  width: 100%;
  height: 100%;
  position: relative;
}
.subbentoimg:hover .words {
  border: 1px solid white;
  transition: 0.4s linear;
}
.subbentoimg:hover img {
  transform: scale(1.1, 1.1);
  transition: 0.4s linear;
}
.container {
  width: 100%;
  height: 80%;
  /* background-color: #ffb12b; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.subcontainer {
  width: 85%;
  height: 80%;
  /* background-color: #83bee6; */
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.subcontainer1
{
  width: 100%;
  /* height: 100%; */
}
.title {
  width: 75%;
  height: 90%;
  /* background-color: #c6f798; */
  border: 1px solid #e5e5e5;
  display: block;
  /* margin: 10px; */
}

.title h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-left: 20px;
}
.containerimg img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
}
.containerimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.container-content h6 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  /* line-height: 10px; */
  margin-bottom: 10px;
}
.container-content p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
  letter-spacing: 0.5px;
  margin-top: 30px;
  /* line-height: 20px; */
}
.aboutpara {
  width: 80%;
}
.about-product {
  display: none;
}
.container-content span {
  color: #999999;
  text-decoration: line-through;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.container-content h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffb12b;
}
.column-content {
  width: 20%;
  height: 100%;
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
}
.column-content h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}
.column-img {
  display: flex;
  align-items: center;
  gap: 30px;
}
.column-text h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4e4e4e;
}
.column-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.about {
  width: 100%;
  height: 95%;
  /* background-color: greenyellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-content {
  width: 85%;
  height: 80%;
  /* background-color: orchid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}
.sub-img {
  width: 45%;
  height: 100%;
  /* background-color: tomato; */
}
.sub-img img {
  width: 100%;
  /* height: 100%; */
  /* margin-top: 0; */
}
.sub-img img {
  border: 1px solid #999999;
  /* padding: 10px; */
}
.sub-img img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.sub-text {
  width: 50%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #f5f5f5;
}
.sub-text1 {
  width: 100%;
  height: 70%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sub-text img {
  border-radius: 70px;
  border: 2px solid #ffb12b;
}
.about-mark h6 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #616161;
  margin-bottom: 20px;
}
.about-mark h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #404040;
  /* line-height: 24px; */
}
.about-mark p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #616161;
  line-height: 24px;
}
.mark-para {
  width: 85%;
  margin-left: 50px;
  margin-top: 30px;
}
.collection-bg {
  width: 100%;
  height: 12%;
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.subcollection-bg {
  width: 85%;
  height: 100%;
}
.collection-icon-sale {
  width: 70%;
  height: 20%;
  display: flex;
  /* flex-direction: column; */
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 100px;
  left: 40px;
  background-color: white;
  opacity: 0;
}
.grid-picture1:hover .collection-icon-sale {
  /* display: block; */
  opacity: 1;
  transition: 0.6s;
}
.collection-icon-sale i:hover {
  color: #ffb12b;
}
.collection-text h4 {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}
.collection-text h2 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5;
  /* margin-bottom: 20px; */
}
.collection-img {
  width: 100%;
  height: 70%;
  /* background-color: paleturquoise; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.subcollection-img {
  width: 85%;
  height: 100%;
  /* background-color: rgb(139, 212, 56); */
  display: grid;
  grid-template-columns: 330px 330px 330px 330px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.grid-picture {
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #e5e5e5;
  position: relative;
  gap: 20px;
}
.grid-text {
  width: 100%;
  /* height: 100%; */
  /* background-color: yellow; */
  position: absolute;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.grid-text h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
.grid-text h4 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffb12b;
  text-align: center;
  /* text-decoration: line-through; */
}
.productprice span {
  text-decoration: line-through;
  color: #999999;
  gap: 20px;
}
.grid-picture1 {
  width: 100%;
  height: 63%;
  position: relative;
}
.grid-picture1 img {
  width: 100%;
}
.grid-picture1:hover .productimg-icon-sale {
  /* display: block; */
  opacity: 1;
  transition: 0.6s;
}
.productimg-icon-sale i:hover {
  color: #ffb12b;
}
.sale {
  background-color: #ff4545;
  color: #ffffff;
  width: 12%;
  padding: 3px;
  border-radius: 6px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 15px;
  right: 10px;
}
.grid-picture1:hover .image2 {
  opacity: 1 !important;
}
.grid-picture1:hover .image1 {
  opacity: 0;
}
.columnbanner {
  width: 100%;
  height: 15%;
  /* background-color: #50cb19; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.subcolumnbanner {
  width: 85%;
  height: 100%;
  /* background-color: #e975b5; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.column-div {
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.column-div-img {
  animation: animate;
  animation-iteration-count: infinite;
}
.column-div-content h4 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: #000000;
  font-weight: 500;
}
.column-div-content h4:hover {
  color: #ffb12b;
}
.column-div-content p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: #000000;
  font-weight: 400;
}
.blog {
  width: 100%;
  height: 20%;
  /* background-color: orangered; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-blog {
  width: 85%;
  height: 50%;
  /* background-color: rgb(131, 226, 155); */
  align-items: center;
  justify-content: center;
}

.sub-blog h4 {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}
.sub-blog h2 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5;
  /* margin-bottom: 20px; */
}
.grid-background {
  width: 100%;
  height: 70%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.subgrid-bg {
  width: 85%;
  height: 100%;
  /* background-color: lightcoral; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.subgrid-img {
  width: 100%;
  height: 75%;
  border: 1px solid #eeeeee;
  overflow: hidden;
}
.subgrid-img img {
  width: 100%;
  height: 100%;
}
.blog-img img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
.blog-text p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  color: #333333;
}
.blog-text p:hover {
  color: #000000;
  transition: 0.4s;
}
.blog-text h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #282828;
  margin-left: 20px;
}
.footer {
  width: 100%;
  height: 70%;
  /* background-color: #50cb19; */
}
.subfooter {
  width: 100%;
  height: 100%;
  background-image: url(./images/footer_1_1728x.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content {
  width: 85%;
  height: 60%;
  /* background-color: palevioletred; */
  display: flex;
  justify-content: space-between;
}
.googleplay {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.googleplay h4 {
  color: #000000;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.googleplay p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
   letter-spacing: 0.5px;
  color: #6f6f6f;
}
.googleplay input {
  width: 60%;
  height: 10%;
  margin-top: 20px;
}
.googleplay img {
  width: 50%;
  height: 20%;
  /* margin-top: 20px; */
}
.div2 {
  height: 100%;
  width: 30%;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* background-color: palevioletred; */
}
.div2 img {
  margin-bottom: 20px;
}
.div2 p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 20px;
}

.footer-icon {
  width: 100%;
  height: 10%;
  display: flex;
  /* align-items: center; */
  gap: 20px;
}
.footer-icon i {
  width: 30px !important;
  height: 30px;
  background-color: white;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb i:hover {
  background-color: blue;
}
.google i:hover {
  background-color: tomato;
}
.twit i:hover {
  background-color: skyblue;
}
.insta i:hover {
  background-color: purple;
}
.utube i:hover {
  background-color: red;
}
.rss i:hover {
  background-color: blue;
}
.contact {
  width: 25%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-icon {
  width: 100%;
  /* height: 20%; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
  line-height: 20px;
}
.contact-icon i {
  /* background-color: red; */
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 60px;
  color: #ffb12b;
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 20px; */
}
.contact-icon i:hover {
  color: #000000;
  transition: 0.5s;
}
.contact-icon span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
  letter-spacing: 0.5px;
}
.mbl {
  display: none;
}
@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .socialmedia {
    height: 6%;
  }
  .navbar {
    width: 100%;
    height: 7%;
  }
  .first {
    width: 35%;
    flex-wrap: wrap;
  }
  .list {
    display: none;
  }
  .list-icon {
    display: block;
    font-size: 30px;
  }
  .lines button {
    width: 40%;
  }
  .lines {
    width: 75%;
  }
  .second {
    width: 70%;
    align-items: flex-start;
  }

  .backgroundimg {
    width: 100%;
    height: 70%;
    background-size: 110% 100%;
    background-position: right;
    opacity: 0.8;
  }
  .subgrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
  }
  .grid {
    width: 100%;
    height: 150vh;
  }
  .grid1img img {
    width: 100%;
    height: 100%;
  }
  .text1 {
    position: absolute;
    right: 30px;
  }

  .none {
    display: none;
  }
  .productimg {
    overflow: hidden !important;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 320px 320px 320px;
  }
  /* .bentoimg1{
    height: 60%;
  }
  .bentoimg2{
    height: 50%;
  }
  .bentoimg3{
    height: 100%;
  }
  .bentoimg4{
    height: 60%;
  } */
  .productimg1 {
    width: 100%;
  }

  .subbento {
    grid-template-columns: 320px 320px;
    grid-template-rows: 180px 100px 200px;
  }
  .subbentoimg img {
    width: 100%;
    height: 100%;
  }
  .bentobackground {
    width: 100%;
    height: 50%;
  }
  .subwords h4 {
    font-size: 16px;
  }
  .subwords h2 {
    font-size: 32px;
    line-height: normal;
  }
  .words {
    right: 10px;
  }
  .subcontainer {
    display: block;
    width: 90%;
    height: 95%;
  }
  .title {
    width: 96%;
    height: 50%;
    margin: 0;
    margin-bottom: 20px;
  }
  .column-content {
    width: 96%;
    height: 50%;
    row-gap: 30px;
    justify-content: flex-start;
  }
  .sub-content {
    display: block;
  }
  .sub-img {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
  }
  .sub-img img {
    width: 100%;
    height: 100%;
    /* margin-top: 20px; */
  }
  .sub-text {
    width: 100%;
    height: 55%;
  }
  .sub-text1 {
    width: 100%;
    height: 100%;
  }
  .sub-text1 img {
    margin-top: 40px;
  }
  .collection-bg {
    height: 7%;
  }
  .subcollection-img {
    grid-template-columns: 220px 220px 220px;
  }
  .collection-img {
    height: 40%;
    width: 100%;
  }
  .not-display {
    display: none;
  }
  .subcolumnbanner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .blog {
    width: 100%;
    height: 12%;
  }
  .subgrid-bg {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-background {
    width: 100%;
    height: 30%;
  }
  .footer {
    height: 30%;
    width: 100%;
  }
  .footer-icon {
    gap: 5px;
  }
}
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .socialmedia {
    width: 100%;
    height: 7%;
    /* display: flex; */
  }
  .icons {
    display: inline-block;
    width: 95%;
  }
  .first {
    width: 100%;
    height: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
  .second {
    width: 100%;
    height: 50%;
    font-size: 15px;
    justify-content: center;
  }

  .img img {
    width: 130px;
    height: 40px;
  }
  .navbar {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    margin-top: 0;
  }
  .subnavbar {
    width: 100%;
    height: auto;
  }
  .navicons {
    display: none;
  }
  .list-icon {
    display: flex;
    align-items: flex-end;
    /* width: 50%; */
  }

  .backgroundimg {
    width: 100%;
    height: 30%;
    background-size: 145% 75%;
    background-position: right;
    opacity: 0.8;
    margin-top: 0;
  }
  .text {
    height: 50%;
    gap: 10px;
  }
  .lines {
    width: 100%;
    height: 100%;
    /* gap: 20px; */
  }
  .lines h4 {
    display: none;
  }
  .lines h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .lines h3 {
    font-size: 13px;
    line-height: 20px;
    color: #000000;
  }
  .lines button {
    margin-top: 10px;
    height: 19%;
    width: 28%;
    padding: 0;
  }
  .grid {
    height: auto;
    width: 100%;
    margin-top: 30px;
  }

  .grid1img {
    height:auto;
    width: 100%;
  }
  /* .grid1img img {
    height: 250px;
    width: 100%;
  } */
  .mbl-none {
    display: none;
  }

  .content {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .subcontent {
    margin-top: 10px;
    height: auto;
  }
  .subtext h4 {
    font-size: 16px;
  }
  .subtext h2 {
    font-size: 24px;
  }
  .imgbanner {
    flex-direction: column;
    width: 100%;
    gap: 2px;
    margin-top: 10px;
  }
  .imgbanner1 p {
    font-size: 13px;
  }
  .backgroundproduct {
    width: 100%;
  }
  .productimg {
    width: 100%;
    gap: 10px;
    grid-template-columns: 160px 160px;
    grid-template-rows: 270px 270px 270px;
  }
  .productimg1 {
    width: 100%;
    /* margin-left: 10px; */
  }
  .productimg1 img
  {
    width: 180px;
    height: 150px;
  }
  .producttext1
  {
    height: 35%;
  }
  .producttext1 h6
  {
    margin-top: 0;
  }
  .sale {
    width: 25%;
    font-size: 9px;
  }
  .productimg-icon {
    width: 90%;
    gap: 20px;
    font-size: 13px;
  }
  .productimg-icon-sale {
    width: 90%;
    gap: 20px;
    font-size: 13px;
  }
  .text1 {
    position: absolute;
    top: 18px;
    right: 6px;
    width: 95%;
  }
  .text1 h4 {
    line-height: normal;
    font-size: 14px;
  }
  .text1 h2 {
    line-height: normal;
    font-size: 28px;
  }
  .text1 button {
    width: 32%;
  }
  .labeldiv input {
    height: 40px;
    width: 43px;
    margin-top: 5px;
  }
  .labeldiv button {
    width: 42px;
    height: 35px;
    margin-top: 5px;
  }
  .selecttag
  {
    display: none;
  }
  .grid-text {
    bottom: 10px;
  }
  .bentobackground {
    height: auto;
    width: 100%;
    margin-top: 30px;
    /* margin-left: 20px; */
  }
  .subbento {
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bentoimg1 {
    width: 100%;
  }
  .bentoimg2 {
    width: 100%;
  }
  .bentoimg3 {
    width: 100%;
  }
  .bentoimg4 {
    width: 100%;
  }
  .words {
    top: 10px;
  }
  .words button {
    width: 35%;
  }
  .container {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }
  .subcontainer {
    height: auto;
    width: 85%;
  }
  .title {
    width: 100%;
  }
  .containerimg {
    height: 70%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .containerimg img {
    height: 40%;
    width: 40%;
  }
  .container-content {
    width: 100%;
    height: 50%;
  }
  .container-content h6 {
    margin-bottom: 0;
  }
  .container-content h4 {
    margin-left: 0;
    margin-top: 0;
  }
  .column-content {
    height: 50%;
    width: 100%;
  }
  .aboutpara {
    display: none;
  }
  .about-product {
    display: block;
  }
  .about {
    width: 100%;
    height: auto;
    /* margin-left: 10px; */
  }
  .about-mark p
  {
    width: 100%;
  }
  .sub-content {
    width: 85%;
    height: 100%;
    /* margin-top: 0; */
  }
  .sub-img {
    height: 50%;
    margin-top: 20px;
    /* margin-left: 20px; */
  }
  .sub-img img {
    width: 100%;
    height: 94%;
    /* margin-top: 20px; */
  }
  .mark-para {
    margin-left: 10px;
  }
  .sub-text {
    height: 60%;
    width: 100%;
  }
  .collection-bg {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .subcollection-bg
  {
    height: auto;
  }
  .collection-text h4 {
    font-size: 16px;
  }
  .collection-text h2 {
    font-size: 28px;
  }
  .collection-img {
    width: 100%;
    height: 38%;
  }
  .subcollection-img {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 85%;

    /* justify-content: start; */
  }
  .collection-icon-sale {
    width: 90%;
    gap: 20px;
    font-size: 15px;
    top: 70px;
    left: 5px;
  }
  .mblview-none {
    display: none;
  }
.grid-picture
{
  height: 95%;
}
  .columnbanner {
    height: auto;
    width: 100%;
  }
  .subcolumnbanner {
     height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .column-div {
    flex-direction: column;
    gap: 0;
    /* margin-right: 100px; */
    align-items: center;
    border: none;
  }
  .column-div-img {
    align-items: center;
  }
  .column-div-content h4
  {
    text-align: center;
  }
  /* .column-div-img img {
    width: 30px;
    height: 30px;
  } */
  .blog {
    width: 100%;
    height: 15%;
  }
  .sub-blog h4 {
    font-size: 16px;
  }
  .sub-blog h2 {
    font-size: 24px;
  }
  .grid-background {
    width: 100%;
    height: auto;
  }
  .subgrid-bg {
    height: auto;
    grid-template-columns: 350px;
  }
  .subgrid-img {
    width: 100%;
    height: 100%;
    /* margin-left: 10px; */
  }
  .blog-text p {
    margin-top: 0;
  }
  .footer {
    height: auto;
    width: 100%;
    margin-top: 20px;
  }
  .subfooter
  {
    height: auto;
  }
  .footer-content {
    flex-direction: column;
    height: 95%;
  }
  .googleplay {
    width: 95%;
    height: 70%;
  }
  .googleplay h4 {
    line-height: normal;
    margin-bottom: 10px;
  }
  .googleplay p {
    line-height: normal;
    margin-bottom: 10px;
    width: 100%;
  }
  .googleplay input {
    margin-top: 10px;
  }
  .googleplay img {
    margin-top: 10px;
    width: 100px;
  }
  .div2 {
    width: 95%;
    height: 70%;
    margin-top: 10px;
  }
  .div2 p {
    line-height: normal;
    margin-bottom: 10px;
  }
  .div2 img {
    margin-bottom: 10px;
  }
  .footer-icon {
    gap: 5px;
    height: 15%;
    margin-bottom: 10px;
  }
  .contact {
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
  }
  .mbl {
    display: block;
    font-size: 14px;
    color: #000000;
  }
}
